<%= form_for(@hairstyle) do |f| %>
  <% if @hairstyle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hairstyle.errors.count, "error") %> prohibited this hairstyle from being saved:</h2>

      <ul>
      <% @hairstyle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.number_field :count, :value => 0 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
